.button {
  position: relative;
  z-index: 11;
  height: 65px;
  width: 65px;
  display: block;
  background-color: #ffffff8a;
  transform: rotate(45deg);
  backdrop-filter: blur(30px);
  backdrop-filter: brightness(60%);
  &::after {
    content: '';
    height: 65px;
    width: 65px;
    position: absolute;
    transform: rotate(-45deg);
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../resources/scroll-arrow.svg');
  }
  &:hover {
    cursor: pointer;
  }
  &.next {
    &::after {
      transform: rotate(225deg);
    }
  }
  &.prev {
    &::after {
      transform: rotate(45deg);
    }
  }
}
