.stat {
  width: 393px;
  height: 221px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #8e8c894f;
  backdrop-filter: blur(30px);
  backdrop-filter: brightness(15px);
  position: relative;
  z-index: 5;
  .number {
    margin: 0;
    font-size: 80px;
    font-weight: bold;
    &::after {
      content: '+';
      color: #f58220;
    }
  }
  .description {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
  }
}
