#programs {
  .program-text {
    margin-right: vw(-190px);
    width: vw(555px);
    text-align: right;
    h3 {
      font-size: 70px;
      font-weight: bold;
      margin: 0 0 vh(110px) 0;
    }
    h5 {
      color: #e0e0e0;
      font-size: 15px;
      font-weight: 500;
      margin: 0;
    }
    p {
      font-size: 18px;
      font-weight: 500;
    }
  }
  .button-wrapper {
    display: flex;
    justify-content: right;
    gap: vw(27px);
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: white;
      font-weight: bold;
      font-size: 18px;
      width: 156px;
      height: 46px;
      text-transform: uppercase;
      transform: translate(0);
      &:after {
        content: none;
      }
    }

    #youtube {
      background: linear-gradient(#ff0000, #800000);
      &:hover {
        background: linear-gradient(#800000, #ff0000);
      }
    }
    #spotify {
      background: linear-gradient(#21c55a, #199143);
      &:hover {
        background: linear-gradient(#199143, #21c55a);
      }
    }
  }
}
