.scroll-button {
  position: relative;
  height: 65px;
  width: 65px;
  display: block;
  background-color: #707070;
  transform: rotate(45deg);
  &::after {
    content: '';
    height: 65px;
    width: 65px;
    position: absolute;
    transform: rotate(-45deg);
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../resources/scroll-arrow.svg');
  }
}
