@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  color: white;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #121212;
  overflow-x: hidden;
}

.landing {
  height: 100vh;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 130px;
  width: 100vw;
  background: -webkit-gradient(linear, left top, left bottom, from(#121212), to(#12121200));
  background: linear-gradient(#121212, #12121200);
}

nav .logo {
  margin-left: 150px;
  height: 74px;
  width: 71px;
}

nav ul {
  margin: 0;
  margin-right: 150px;
  list-style-type: none;
}

nav ul li {
  float: left;
}

nav ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  text-decoration: none;
  padding: 0 24px 0 24px;
  line-height: 145px;
  height: 130px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 19px;
}

nav ul .arrow {
  background-color: white;
  width: 20px;
  height: 20px;
}

nav ul a:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f8ce6a), to(#f58220));
  background: linear-gradient(#f8ce6a, #f58220);
}

nav ul a:hover:before {
  opacity: 100;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

nav ul a:before {
  content: ' ';
  position: absolute;
  width: 23px;
  height: 15px;
  top: 25px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("/resources/arrow.svg");
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
}

.content {
  height: 2000px;
  background-color: #292525;
}

footer {
  height: 373px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 176px 57px 140px;
      grid-template-rows: 176px 57px 140px;
  position: absolute;
  left: 0;
  background-color: #121212;
}

footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid grey;
}

footer .row:nth-child(3) {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background-color: #000;
}

footer .logo {
  margin-left: 345px;
  height: 74px;
  width: 210px;
  display: inline-block;
}

footer .sc-wrapper {
  -ms-flex-item-align: start;
      align-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 81px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 345px;
  height: 47px;
  width: 411px;
}

footer .sc-wrapper .icon {
  margin: 0 25px 0 0;
  display: block;
}

footer .copy {
  margin-left: 345px;
}

footer .authors {
  margin-right: 345px;
}

footer .authors span {
  margin-left: 30px;
}

footer span {
  color: #a0a0a0;
  font-weight: 400;
}

footer span strong {
  font-weight: 400;
  color: white;
}

footer .sponsors {
  height: 100px;
  margin-left: 345px;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 45px;
          column-gap: 45px;
}

footer .sponsors figure {
  margin: 0;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-rows: 20px 1fr;
      grid-template-rows: 20px 1fr;
}

footer .sponsors figure figcaption {
  color: #a0a0a0;
}

footer .sponsors figure img {
  margin-top: auto;
  margin-bottom: auto;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.background-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: radial-gradient(rgba(214, 172, 172, 0), #12121271);
  z-index: -1;
  height: 100%;
}

.background-landing {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
}

.landing-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#12121200), to(#121212));
  background: linear-gradient(#12121200, #121212);
  position: absolute;
  width: 100%;
  height: 130px;
  bottom: 0;
  left: 0;
}

.landing-gradient-bottom {
  background: -webkit-gradient(linear, left top, left bottom, from(#121212), to(#12121200));
  background: linear-gradient(#121212, #12121200);
  position: absolute;
  width: 100%;
  height: 130px;
  bottom: -130px;
  left: 0;
}

h3 {
  font-size: 70px;
  font-weight: bold;
}

h4 {
  font-size: 55px;
  font-weight: bold;
}

h5 {
  font-size: 15px;
  font-weight: 500;
  color: #a0a0a0;
}

h6 {
  font-size: 20px;
  font-weight: bold;
}

h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  margin: 0;
}

.basic-text {
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
}

.news-card {
  position: relative;
  background-color: blue;
  height: 661px;
  width: 393px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  text-decoration: none;
}

.news-card .background-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.news-card .background-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.news-card .background-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 393px;
  height: 130px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#121212));
  background: linear-gradient(rgba(0, 0, 0, 0), #121212);
}

.news-card .info-wrapper {
  z-index: 2;
  margin: 0 0 20px 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.news-card .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.news-card .text .title {
  margin: 0 0 5px 0;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: bold;
}

.news-card .text .date {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}

.stat {
  width: 393px;
  height: 221px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #8e8c894f;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  -webkit-backdrop-filter: brightness(15px);
          backdrop-filter: brightness(15px);
  position: relative;
  z-index: 5;
}

.stat .number {
  margin: 0;
  font-size: 80px;
  font-weight: bold;
}

.stat .number::after {
  content: '+';
  color: #f58220;
}

.stat .description {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}

.segment {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 140px;
}

.segment h4 {
  text-transform: uppercase;
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.segment .p-wrapper {
  width: 1230px;
}

.segment .logo-wrapper {
  margin: 100px 0 0 0;
  width: 1230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 128px;
}

.segment .logo-wrapper .logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.segment .inner-wrapper {
  margin: 100px 0 0 0;
  width: 1230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mentions {
  width: 392px;
}

.mentions p {
  margin-top: 10px;
  font-size: 19px;
}

.mentions h5 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.team {
  width: 1230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 42px;
}

.team .member-card {
  position: relative;
  width: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team .member-card p.member-bold {
  margin: 50px 0 0 0;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  width: 200px;
  text-align: center;
}

.team .member-card p.member-sub {
  margin: 0;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  color: #a0a0a0;
}

.team .member-card .member-photo {
  width: 236px;
  height: 236px;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.team .member-card .member-border {
  position: absolute;
  width: 190px;
  height: 190px;
  top: 19px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.logo-origin {
  width: 1230px;
  height: 890px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-origin .text {
  width: 555px;
}

.logo-origin .text h4 {
  text-align: right;
}

.logo-origin .signature {
  margin-top: -97px;
  float: right;
  text-align: right;
}

.scroll-button {
  position: relative;
  z-index: 2;
  height: 65px;
  width: 65px;
  display: block;
  background-color: #ffffff8a;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  -webkit-backdrop-filter: brightness(60%);
          backdrop-filter: brightness(60%);
}

.scroll-button::after {
  content: '';
  height: 65px;
  width: 65px;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../resources/scroll-arrow.svg");
}

#programs .program-text {
  margin-right: -9.89583vw;
  width: 28.90625vw;
  text-align: right;
}

#programs .program-text h3 {
  font-size: 70px;
  font-weight: bold;
  margin: 0 0 10.18519vh 0;
}

#programs .program-text h5 {
  color: #e0e0e0;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}

#programs .program-text p {
  font-size: 18px;
  font-weight: 500;
}

#programs .button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  gap: 1.40625vw;
}

#programs .button-wrapper a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  width: 156px;
  height: 46px;
  text-transform: uppercase;
}

#programs .button-wrapper #youtube {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#800000));
  background: linear-gradient(#ff0000, #800000);
}

#programs .button-wrapper #youtube:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#800000), to(#ff0000));
  background: linear-gradient(#800000, #ff0000);
}

#programs .button-wrapper #spotify {
  background: -webkit-gradient(linear, left top, left bottom, from(#21c55a), to(#199143));
  background: linear-gradient(#21c55a, #199143);
}

#programs .button-wrapper #spotify:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#199143), to(#21c55a));
  background: linear-gradient(#199143, #21c55a);
}

#programs .series {
  width: 1230px;
  margin: 0 0 12.03704vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#programs .series .series-wrapper {
  width: 1230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 26px;
}

.series-card {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 660px;
  width: 390px;
}

.series-card .series-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}

.series-card .background-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: radial-gradient(#12121200, #121212);
}

.series-card .background-gradient-bottom {
  position: absolute;
  height: 130px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#12121200), to(#121212));
  background: linear-gradient(#12121200, #121212);
  z-index: -1;
}

.series-card p {
  margin: 0;
}

.series-card .rpg-title {
  font-size: 10px;
  font-weight: 500;
}

.series-card .series-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 45px;
}

.tag {
  font-size: 11px;
  font-weight: 500;
  margin-right: 10px;
  height: 17px;
  line-height: 17px;
  width: 46px;
  background-color: red;
  text-align: center;
}

#wta {
  background-color: #d3171d;
}

#htr {
  background-color: #f58220;
}

#vtm {
  background-color: #f17ba3;
}

#wto {
  background-color: #7f9596;
}

#ctl {
  background-color: #a0bf94;
}

#mct {
  background-color: #c3a449;
}

.button-more {
  display: inline-block;
  padding: 0 32px 0 32px;
  height: 46px;
  line-height: 46px;
  text-transform: uppercase;
  font-size: 19px;
  text-align: center;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8ce6a), to(#f58220));
  background: linear-gradient(#f8ce6a, #f58220);
}

.button-more:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#f58220), to(#f8ce6a));
  background: linear-gradient(#f58220, #f8ce6a);
}

.patronite-button {
  display: inline-block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  height: 46px;
  width: auto;
  line-height: 46px;
  padding: 0 20px 0 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1592a), to(#ed2224));
  background: linear-gradient(#f1592a, #ed2224);
}

.patronite-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ed2224), to(#f1592a));
  background: linear-gradient(#ed2224, #f1592a);
}

.episodes-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  max-width: 1230px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.episodes-wrapper li {
  width: 590px;
  height: 92px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.episodes-wrapper a {
  position: absolute;
  margin: 0;
  display: block;
  height: 66px;
  width: 66px;
  background-color: #f17ba3;
  -webkit-transform: translateX(15px) rotate(45deg);
          transform: translateX(15px) rotate(45deg);
}

.episodes-wrapper a .play-button {
  height: 66px;
  width: 66px;
  position: absolute;
  background-image: url("../resources/Path 28.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: rotate(-45deg) translateX(5px);
          transform: rotate(-45deg) translateX(5px);
}

.episodes-wrapper span {
  background-color: #414141;
  padding: 26px 0 26px 0;
  width: 543px;
  margin-left: 49px;
}

.episodes-wrapper h5 {
  margin-left: 85px;
  text-align: left;
}

.episodes-wrapper .basic-text {
  padding: 0;
  margin: 0 0 0 85px;
  text-align: left;
}

#program {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#program h4 {
  margin-bottom: 80px;
}

#program header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#program header h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 105px;
  font-weight: bold;
}

#program header h6 {
  font-size: 20px;
  color: #e0e0e0;
  font-weight: 400;
}

#program .scroll-button {
  margin-left: auto;
  margin-right: auto;
  top: 81.48148vh;
  position: absolute;
}

#program .landing {
  margin: 0 0 10.18519vh 0;
  width: 100vw;
  height: 100vh;
}

#program .landing .background-wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
}

#program .landing .background-wrapper img {
  z-index: -2;
  max-width: 100%;
}

#program .summary-wrapper {
  width: 1230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 100px;
}

#program .summary-wrapper h5 {
  margin-bottom: 100px;
}

#program .summary-wrapper article {
  max-width: 555px;
}

#program .team-wrapper {
  text-align: center;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1230px;
}

#program .team-wrapper .member-border {
  border: #f17ba3 5px solid;
}

#program .episodes-wrapper {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 170px 0 140px 0;
}

#program .background-logo-decoration {
  position: absolute;
  z-index: -2;
  left: 1100px;
  top: 1000px;
}

#news {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#news .background-logo-decoration {
  position: absolute;
  z-index: -1;
  left: -83px;
  top: -49px;
}

#news h3 {
  margin: 264px 0 116px 0;
  text-align: center;
  font-size: 71px;
  font-weight: bold;
}

#news .news-wrapper {
  width: 1230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
}

#news .button-more {
  margin: 60px 0 140px 0;
}

#patrons .background-logo-decoration {
  position: absolute;
  z-index: -1;
  left: 960px;
  top: 960px;
}

#patrons .landing {
  margin-bottom: 160px;
}

#patrons h3 {
  font-size: 71px;
  font-weight: bold;
  margin: 264px 0 250px 0;
  text-transform: uppercase;
}

#patrons .stats-wrapper {
  width: 1230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#patrons .segment {
  max-width: 100%;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .member-border {
  border: #f58220 5px solid;
}

#about .background-logo-decoration {
  position: absolute;
  z-index: -1;
  left: 871px;
  top: -49px;
}

#about h3,
#about h4,
#about h5 {
  text-transform: uppercase;
  margin: 0;
}

#about h3 {
  font-size: 70px;
  font-weight: bold;
  margin: 0 0 100px 0;
}

#about h4 {
  font-size: 55px;
  font-weight: bold;
  margin: 0 0 80px 0;
}

#about h5 {
  color: #a0a0a0;
  font-size: 15px;
  font-weight: 400;
}

#about .about-text {
  font-size: 18px;
  font-weight: bold;
  text-align: justify;
  margin-bottom: 108px;
}

#about .scroll-button {
  margin-left: 14px;
}

#about .about-text-wrapper {
  margin-top: 285px;
  width: 1230px;
}

#about .about-text-wrapper .text-wrapper {
  width: 555px;
}

#about .team-wrapper {
  margin: 115px 0 112px 0;
  width: 1230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .logo-origin-wrapper {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .logo-origin-wrapper .logo-background {
  width: 100%;
  position: absolute;
  z-index: -1;
}

#about .signature {
  font-weight: 500;
}

#programs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#programs h3,
#programs h4,
#programs h5 {
  text-transform: uppercase;
}

#programs h4 {
  font-size: 55px;
  font-weight: bold;
  margin: 0 0 7.40741vh 0;
}

#programs .scroll-button {
  margin-left: auto;
  margin-right: auto;
  top: 81.48148vh;
  position: absolute;
}

#programs .landing {
  margin: 0 0 10.18519vh 0;
  width: 100vw;
  height: 100vh;
}

#programs .landing img {
  max-width: 100vw;
}

#programs .landing .content-wrapper {
  z-index: 1;
  width: 1230px;
  margin: 22.22222vh 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}

#programs .landing .content-wrapper .series-card {
  margin-left: 4.16667vw;
}

#programs .landing .background-wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
}

#programs .landing .background-wrapper img {
  max-width: 100%;
}

#programs .background-logo-decoration {
  position: absolute;
  z-index: -2;
  left: -173px;
  top: 1516px;
}

#single-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#single-post .post-main-image {
  position: absolute;
  top: 0;
  left: 6.77083vw;
}

#single-post .date-and-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#single-post .date-and-tags time {
  margin-right: 10px;
  font-size: 15px;
  font-weight: 400;
}

#single-post .date-and-tags .tag:last-child {
  margin-right: 0;
}

#single-post .post-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1230px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-bottom: 115px;
}

#single-post .post {
  position: relative;
  margin-top: 236px;
  width: 554px;
  height: auto;
  text-align: right;
}

#single-post header {
  margin-bottom: 90px;
}

#single-post p {
  margin-bottom: 25px;
}

#single-post .mini-gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

#single-post .mini-photo {
  max-width: 178px;
  max-height: 120px;
}

#single-post article {
  margin-bottom: 50px;
}

#single-post .background-logo-decoration {
  position: absolute;
  left: -436px;
  top: 1194px;
}
/*# sourceMappingURL=styles.css.map */